[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint-django = "*"
prospector = {extras = ["with_everything"],version = "*"}
ipdb = "*"

[packages]
django = "==2.1.11"
djangorestframework = "==3.8.2"
python-dotenv = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-filter = "*"
mysqlclient = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
